/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 700px;
    width: 1000px;
    margin: auto;
}

/*#places, #buttons, #page-description {*/
/*    text-align: center;*/
/*}*/

/*#page-description {*/
/*    width: 1000px;*/
/*    margin: auto;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*}*/